@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: EUROCAPS;
  src: url(../fonts/EUROCAPS.TTF);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 0 5px 0;
  flex-direction: row;
  justify-content: center;
  border-bottom: 5px solid #0c0e0d;
  font-family: "EUROCAPS", Arial, Helvetica, sans-serif;
  background: linear-gradient(0deg, black 0%, #323232 110%);
}

.nav .link, .nav .brand {
  height: 100%;
  margin: 0 1px;
  color: #7F7F7F;
  min-width: 100px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transform: skew(30deg);
  padding: 0 15px 5px 15px;
  transition: all 0.2s ease;
  border-bottom: 5px solid #4D4D4D;
  background: rgba(255, 255, 255, 0.075);
}

.nav .link:hover, .nav .brand:hover {
  color: #FFF;
  border-color: rgba(255, 255, 255, 0.95);
}

.nav .link.active, .nav .brand.active {
  color: #FFF;
  background: rgba(255, 0, 0, 0.55);
  border-color: rgba(255, 0, 0, 0.6);
}

.nav .link.active:hover, .nav .brand.active:hover {
  background: rgba(255, 0, 0, 0.65);
  border-color: rgba(255, 0, 0, 0.7);
}

.nav .link .text, .nav .brand .text {
  display: block;
  transform: skew(-30deg);
}

.nav .link {
  font-size: 15pt;
}

.nav .brand {
  font-size: 16pt;
}
