@font-face { font-family: EUROCAPS; src: url(../fonts/EUROCAPS.TTF); }
@-webkit-keyframes leaderboardHover { 0% { background: rgba(255, 255, 255, 0.8); }
  50% { background: rgba(255, 255, 255, 0.5); }
  100% { background: rgba(255, 255, 255, 0.8); } }
@keyframes leaderboardHover { 0% { background: rgba(255, 255, 255, 0.8); }
  50% { background: rgba(255, 255, 255, 0.5); }
  100% { background: rgba(255, 255, 255, 0.8); } }
body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background: url("https://pbs.twimg.com/media/D2HQu4aWwAAi26B.jpg") no-repeat fixed center; background-size: cover; }

.nav { width: 100%; display: block; background: rgba(0, 0, 0, 0); border-bottom: 6px solid #0c0e0d; font-family: "EUROCAPS", Arial, Helvetica, sans-serif; background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(110%, #2d2d2d)); background: linear-gradient(0deg, black 0%, #2d2d2d 110%); }
.nav .inner { width: 85%; height: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 auto; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.nav .inner .link, .nav .inner .brand { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; height: 100%; margin: 0 1px; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; font-size: 14pt; padding: 0 15px; color: #5E5E5E; min-width: 150px; -ms-flex-item-align: auto; align-self: auto; line-height: 65px; text-align: center; font-weight: bold; text-decoration: none; -webkit-transform: skew(35deg); transform: skew(35deg); -webkit-transition: all 0.2s ease; transition: all 0.2s ease; border-bottom: 6px solid #4D4D4D; background: rgba(255, 255, 255, 0.075); }
.nav .inner .link .text, .nav .inner .brand .text { display: block; -webkit-transform: skew(-35deg); transform: skew(-35deg); }
.nav .inner .link:hover, .nav .inner .brand:hover { color: #FFF; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; border-color: rgba(255, 255, 255, 0.95); }
.nav .inner .link.active, .nav .inner .brand.active { color: #FFF; background: rgba(255, 0, 0, 0.55); border-color: rgba(255, 0, 0, 0.6); }
.nav .inner .link.active:hover, .nav .inner .brand.active:hover { background: rgba(255, 0, 0, 0.65); border-color: rgba(255, 0, 0, 0.7); }
.nav .inner .brand { color: #DDD; font-size: 16pt; min-width: 150px; border-bottom: 6px solid #DDD; }

.containerTitle { width: 80%; height: 40px; margin: 0 auto; margin-top: 10px; }
.containerTitle .left { height: 100%; color: #FFF; font-size: 25pt; font-weight: bold; line-height: 40px; text-shadow: 0 4px 0 black; }
.containerTitle .right { height: 100%; float: right; line-height: 40px; border-radius: 4px; border: 1px solid rgba(255, 255, 255, 0.2); }
.containerTitle .right a { float: left; height: 40px; display: block; padding: 0 10px; font-size: 20pt; text-decoration: none; background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.75); }
.containerTitle .right a.active { color: #FFF; font-weight: bold; background: black; }
.containerTitle .right a:hover { background: black; color: white; }
.containerTitle .right a:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.containerTitle .right a:nth-child(2) { border-left: 1px solid rgba(255, 255, 255, 0.15); border-right: 1px solid rgba(255, 255, 255, 0.15); }
.containerTitle .right a:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.minimumPred { width: 80%; color: #FFF; margin: 0 auto; font-weight: light; }

.container { width: 80%; margin: 0 auto; margin-top: 5px; margin-bottom: 50px; }
.container .title { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 15pt; font-weight: bold; text-align: center; margin: 10px 0 15px 0; -webkit-transform: skew(20deg); transform: skew(20deg); }
.container .title .item { padding: 8px 16px; border-bottom: 2px solid rgba(160, 160, 160, 0.85); }
.container .title .item .text { display: block; -webkit-transform: skew(-20deg); transform: skew(-20deg); }
.container .title .item.i1 { -ms-flex-preferred-size: 5%; flex-basis: 5%; background: #FFF; border-left: 6px solid rgba(160, 160, 160, 0.85); }
.container .title .item.i2 { background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.8); }
.container .list { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 13pt; font-weight: bold; line-height: 32px; text-align: center; margin-bottom: 10px; -webkit-transform: skew(20deg); transform: skew(20deg); }
.container .list:hover { -webkit-animation: leaderboardHover 2s infinite; animation: leaderboardHover 2s infinite; }
.container .list .item { padding: 4px 16px; border-bottom: 2px solid rgba(150, 21, 17, 0.8); }
.container .list .item .text { display: block; position: relative; -webkit-transform: skew(-20deg); transform: skew(-20deg); text-shadow: 0 2px 0 rgba(0, 0, 0, 0.9); }
.container .list .item a { color: #FFF; text-decoration: none; }
.container .list .item .icon { top: 5px; width: 25px; position: relative; }
.container .list .item .icon.legend { -webkit-filter: drop-shadow(0 0 4px black); filter: drop-shadow(0 0 4px black); }
.container .list .item .icon.level { -webkit-filter: drop-shadow(0 0 2px rgba(255, 234, 46, 0.75)); filter: drop-shadow(0 0 2px rgba(255, 234, 46, 0.75)); }
.container .list .item .icon.master { -webkit-filter: drop-shadow(0 0 4px rgba(255, 0, 255, 0.5)); filter: drop-shadow(0 0 4px rgba(255, 0, 255, 0.5)); }
.container .list .item .icon.predator { -webkit-filter: drop-shadow(0 0 6px rgba(255, 0, 0, 0.75)); filter: drop-shadow(0 0 6px rgba(255, 0, 0, 0.75)); }
.container .list .item.i1 { -ms-flex-preferred-size: 5%; flex-basis: 5%; font-size: 15pt; color: rgba(255, 255, 255, 0.9); background: rgba(255, 40, 30, 0.85); border-left: 4px solid rgba(150, 21, 17, 0.8); }
.container .list .item.i2 { background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.8); }
.container .list .item.i2 .icoTwitter { color: #FFF; line-height: 32px; margin-right: 10px; vertical-align: middle; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.container .list .item.i2 .icoTwitter:hover { color: #1DA1F2; }
.container .list .item.i2 .icoTwitch { line-height: 32px; margin-right: 10px; vertical-align: middle; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; color: rgba(255, 255, 255, 0.95); }
.container .list .item.i2 .icoTwitch:hover { color: #6441A5; }

.loginContainer { width: 35%; padding: 4px 20px; background: #FFF; border-radius: 5px; margin: 10px auto 0 auto; -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }
.loginContainer .title { display: block; font-size: 20pt; text-align: center; }
.loginContainer .loginError { display: block; font-weight: bold; text-align: center; color: rgba(255, 0, 0, 0.75); }
.loginContainer .inner { width: 90%; margin: 10px auto; }
.loginContainer .inner .group { width: 100%; }
.loginContainer .inner .group .error { width: 100%; display: block; font-weight: bold; color: rgba(255, 0, 0, 0.75); }
.loginContainer .inner .group .groupTitle { font-size: 16pt; font-weight: bold; }
.loginContainer .inner .group .input { width: 100%; font-size: 12pt; margin: 5px 0 15px 0; }
.loginContainer .inner .submit { width: 100%; border: none; color: #FFF; cursor: pointer; font-size: 12pt; font-weight: bold; padding: 12px 16px; background: rgba(0, 0, 255, 0.75); }

.adminContainer { width: 75%; margin: 0 auto; margin-top: 15px; }
.adminContainer .addUser { width: 50%; margin: 0 auto; padding: 6px 12px; background: #FFF; border-radius: 3px; }
.adminContainer .addUser .title { display: block; font-size: 20pt; font-weight: bold; text-align: center; }
.adminContainer .addUser .inputTitle { display: block; font-size: 16pt; }
.adminContainer .addUser .newUser { width: 100%; font-size: 14pt; padding: 6px 12px; }
.adminContainer .addUser .submitButton { width: 100%; font-size: 14pt; font-weight: bold; padding: 8px 20px; }
.adminContainer .addUser .error { width: 100%; display: block; font-weight: bold; text-align: center; color: rgba(255, 0, 0, 0.7); }
.adminContainer .addUser .succ { width: 100%; display: block; font-weight: bold; text-align: center; color: rgba(0, 192, 0, 0.7); }

.footer { bottom: 0; width: 100%; position: fixed; background: #161616; border-top: 2px solid #666; }
.footer .inner { width: 80%; padding: 6px; margin: 0 auto; color: rgba(255, 255, 255, 0.25); }
