@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
@font-face { font-family: EUROCAPS; src: url(../fonts/EUROCAPS.TTF); }
@keyframes leaderboardHover { 0% { background: rgba(255, 255, 255, 0.8); }
  50% { background: rgba(255, 255, 255, 0.6); }
  100% { background: rgba(255, 255, 255, 0.8); } }
body { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background: url("https://cdn.apexstats.dev/ProjectRanked/Background_Season01.jpeg") no-repeat fixed center; background-size: cover; }

.nav { width: 100%; display: block; background: rgba(0, 0, 0, 0); border-bottom: 6px solid #0c0e0d; font-family: "EUROCAPS", Arial, Helvetica, sans-serif; background: linear-gradient(0deg, black 0%, #2d2d2d 110%); }
.nav .inner { width: 85%; height: 60px; display: flex; margin: 0 auto; flex-wrap: nowrap; flex-direction: row; justify-content: center; }
.nav .inner .link, .nav .inner .brand { order: 0; height: 100%; margin: 0 1px; flex: 0 1 auto; font-size: 14pt; padding: 0 15px; color: #5E5E5E; min-width: 150px; align-self: auto; line-height: 65px; text-align: center; font-weight: bold; text-decoration: none; transform: skew(35deg); transition: all 0.2s ease; border-bottom: 6px solid #4D4D4D; background: rgba(255, 255, 255, 0.075); }
.nav .inner .link .text, .nav .inner .brand .text { display: block; transform: skew(-35deg); }
.nav .inner .link:hover, .nav .inner .brand:hover { color: #FFF; transition: all 0.2s ease; border-color: rgba(255, 255, 255, 0.95); }
.nav .inner .link.active, .nav .inner .brand.active { color: #FFF; background: rgba(255, 0, 0, 0.55); border-color: rgba(255, 0, 0, 0.6); }
.nav .inner .link.active:hover, .nav .inner .brand.active:hover { background: rgba(255, 0, 0, 0.65); border-color: rgba(255, 0, 0, 0.7); }
.nav .inner .brand { color: #DDD; font-size: 16pt; min-width: 150px; border-bottom: 6px solid #DDD; }

.containerTitle { width: 80%; height: 40px; margin: 0 auto; margin-top: 10px; font-family: "Montserrat", Arial, Helvetica, sans-serif; }
.containerTitle .left { height: 100%; color: #FFF; font-size: 25pt; font-weight: bold; line-height: 40px; text-shadow: 0 4px 0 black; }
.containerTitle .left .full { color: #FFF; font-size: 15pt; font-weight: normal; text-decoration: none; }
.containerTitle .left .full:hover { text-decoration: underline; }
.containerTitle .right { height: 100%; float: right; line-height: 40px; border-radius: 4px; border: 1px solid rgba(255, 255, 255, 0.2); }
.containerTitle .right a { float: left; height: 40px; display: block; padding: 0 10px; font-size: 20pt; text-decoration: none; transition: all 0.2s ease; background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.5); }
.containerTitle .right a.active { color: #FFF; font-weight: bold; background: black; }
.containerTitle .right a:hover { background: black; color: white; }
.containerTitle .right a:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.containerTitle .right a:nth-child(2) { border-left: 1px solid rgba(255, 255, 255, 0.15); border-right: 1px solid rgba(255, 255, 255, 0.15); }
.containerTitle .right a:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.minimumPred { width: 80%; color: #FFF; margin: 0 auto; font-weight: 100; font-family: "Montserrat", Arial, Helvetica, sans-serif; }

.container { width: 80%; margin: 0 auto; margin-top: 5px; margin-bottom: 25px; }
.container .title { width: 100%; display: flex; font-size: 15pt; font-weight: bold; text-align: center; margin: 10px 0 15px 0; transform: skew(20deg); }
.container .title .item { padding: 8px 16px; border-bottom: 2px solid rgba(160, 160, 160, 0.85); }
.container .title .item .text { display: block; transform: skew(-20deg); }
.container .title .item.i1 { flex-basis: 5%; background: #FFF; border-left: 6px solid rgba(160, 160, 160, 0.85); }
.container .title .item.i2 { background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.95); }
.container .list { width: 100%; display: flex; font-size: 13pt; font-weight: bold; line-height: 32px; text-align: center; margin-bottom: 10px; transform: skew(20deg); }
.container .list:hover { animation: leaderboardHover 1.5s infinite; }
.container .list .item { padding: 4px 16px; border-bottom: 2px solid rgba(150, 21, 17, 0.8); }
.container .list .item .text { display: block; position: relative; transform: skew(-20deg); text-shadow: 0 2px 0 rgba(0, 0, 0, 0.9); }
.container .list .item a { color: #FFF; text-decoration: none; }
.container .list .item .icon { top: 5px; max-height: 25px; position: relative; }
.container .list .item .icon.legend { filter: drop-shadow(0 0 4px black); }
.container .list .item .icon.level { filter: drop-shadow(0 0 2px rgba(255, 234, 46, 0.75)); }
.container .list .item.i1 { flex-basis: 5%; font-size: 15pt; color: rgba(255, 255, 255, 0.9); background: rgba(255, 40, 30, 0.85); border-left: 4px solid rgba(150, 21, 17, 0.8); }
.container .list .item.i2 { background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.8); }
.container .list .item.i2 .icoTwitter { color: #FFF; line-height: 32px; margin-right: 10px; vertical-align: middle; transition: all 0.1s ease; }
.container .list .item.i2 .icoTwitter:hover { color: #1DA1F2; }
.container .list .item.i2 .icoTwitch { line-height: 32px; margin-right: 10px; vertical-align: middle; transition: all 0.1s ease; color: rgba(255, 255, 255, 0.95); }
.container .list .item.i2 .icoTwitch:hover { color: #6441A5; }
.container .list.first .item { color: #FFF; font-size: 16pt; border-bottom: 2px solid #AA8C28; }
.container .list.first .item.i1 { background: #D4AF37; border-left: 6px solid #AA8C28; }
.container .list.second .item { color: #FFF; font-size: 16pt; border-bottom: 2px solid #7E7E7E; }
.container .list.second .item.i1 { background: #A9A9A9; border-left: 5px solid #7E7E7E; }
.container .list.third .item { color: #FFF; font-size: 15pt; border-bottom: 2px solid #8F7247; }
.container .list.third .item.i1 { background: #B08D57; border-left: 4px solid #8F7247; }

.loginContainer { width: 35%; padding: 4px 20px; background: #FFF; border-radius: 5px; margin: 10px auto 0 auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }
.loginContainer .title { display: block; font-size: 20pt; text-align: center; }
.loginContainer .loginError { display: block; font-weight: bold; text-align: center; color: rgba(255, 0, 0, 0.75); }
.loginContainer .inner { width: 90%; margin: 10px auto; }
.loginContainer .inner .group { width: 100%; }
.loginContainer .inner .group .error { width: 100%; display: block; font-weight: bold; color: rgba(255, 0, 0, 0.75); }
.loginContainer .inner .group .groupTitle { font-size: 16pt; font-weight: bold; }
.loginContainer .inner .group .input { width: 100%; font-size: 12pt; margin: 5px 0 15px 0; }
.loginContainer .inner .submit { width: 100%; border: none; color: #FFF; cursor: pointer; font-size: 12pt; font-weight: bold; padding: 12px 16px; background: rgba(0, 0, 255, 0.75); }

.adminContainer { width: 75%; margin: 0 auto; margin-top: 15px; }
.adminContainer .addUser { width: 50%; margin: 0 auto; padding: 6px 12px; background: #FFF; border-radius: 3px; }
.adminContainer .addUser .title { display: block; font-size: 20pt; font-weight: bold; text-align: center; }
.adminContainer .addUser .inputTitle { display: block; font-size: 16pt; }
.adminContainer .addUser .newUser { width: 100%; font-size: 14pt; padding: 6px 12px; box-sizing: border-box; }
.adminContainer .addUser .submitButton { width: 100%; font-size: 14pt; font-weight: bold; padding: 8px 20px; }
.adminContainer .addUser .error { width: 100%; display: block; font-weight: bold; text-align: center; color: rgba(255, 0, 0, 0.7); }
.adminContainer .addUser .succ { width: 100%; display: block; font-weight: bold; text-align: center; color: rgba(0, 192, 0, 0.7); }

.pagination { width: 80%; display: flex; margin: 0 auto; margin-bottom: 65px; background: rgba(0, 0, 0, 0.5); }
.pagination .page { flex: 1; color: #FFF; padding: 10px 0; font-size: 15pt; font-weight: bold; text-align: center; text-decoration: none; transition: all 0.2s ease; border-bottom: 2px solid rgba(255, 0, 0, 0.5); }
.pagination .page.first { flex-basis: 15%; background: rgba(255, 40, 30, 0.65); border-left: 4px solid rgba(150, 21, 17, 0.6); }
.pagination .page.first:hover { background: rgba(255, 40, 30, 0.9); }
.pagination .page.prev { flex-basis: 35%; }
.pagination .page.prev:hover { background: rgba(0, 0, 0, 0.6); }
.pagination .page.next { flex-basis: 35%; }
.pagination .page.next:hover { background: rgba(0, 0, 0, 0.6); }
.pagination .page.last { flex-basis: 15%; background: rgba(255, 40, 30, 0.65); border-right: 4px solid rgba(150, 21, 17, 0.6); }
.pagination .page.last:hover { background: rgba(255, 40, 30, 0.9); }
.pagination .page.disabled { cursor: default; pointer-events: none; background: rgba(0, 0, 0, 0.3); color: rgba(255, 255, 255, 0.3); }

.userContainer { width: 80%; display: flex; margin: 0 auto; margin-top: 15px; }
.userContainer .avatar { flex: 1; margin: 1px; flex-basis: 25%; border-top-left-radius: 4px; background: rgba(0, 0, 0, 0.5); border: 1px solid rgba(255, 255, 255, 0.15); }
.userContainer .avatar .legend { height: 150px; margin: 0 auto; display: block; padding: 10px 0; }
.userContainer .avatar .name { width: 100%; color: #FFF; display: block; font-size: 20pt; padding: 10px 0; font-weight: bold; text-align: center; background: rgba(0, 0, 0, 0.25); border-top: 1px solid rgba(255, 255, 255, 0.1); font-family: "Montserrat", Arial, Helvetica, sans-serif; }
.userContainer .stats { flex: 1; margin: 1px; display: flex; flex-basis: 75%; border-top-right-radius: 4px; background: rgba(0, 0, 0, 0.5); border: 1px solid rgba(255, 255, 255, 0.15); }
.userContainer .stats .level { flex: 1; }
.userContainer .stats .level .levelImage { height: 150px; margin: 0 auto; display: block; padding: 10px 0; }
.userContainer .stats .level .levelText { width: 100%; color: #FFF; display: block; font-size: 20pt; padding: 10px 0; font-weight: bold; text-align: center; background: rgba(0, 0, 0, 0.25); border-top: 1px solid rgba(255, 255, 255, 0.1); font-family: "Montserrat", Arial, Helvetica, sans-serif; }
.userContainer .stats .BR_Rank { flex: 1; position: relative; }
.userContainer .stats .BR_Rank .RankImage { height: 150px; margin: 0 auto; display: block; padding: 10px 0; }
.userContainer .stats .BR_Rank .pos { top: 53%; margin: 0 auto; color: #FFF; font-size: 14pt; display: inline-block; position: absolute; width: 100%; text-align: center; }
.userContainer .stats .BR_Rank .RankText { width: 100%; color: #FFF; display: block; font-size: 20pt; padding: 10px 0; font-weight: bold; text-align: center; background: rgba(0, 0, 0, 0.25); border-top: 1px solid rgba(255, 255, 255, 0.1); font-family: "Montserrat", Arial, Helvetica, sans-serif; }
.userContainer .stats .Arenas_Rank { flex: 1; }

.footer { bottom: 0; width: 100%; position: fixed; background: #161616; border-top: 2px solid #666; }
.footer .inner { width: 80%; padding: 6px; margin: 0 auto; color: rgba(255, 255, 255, 0.25); }

/*# sourceMappingURL=main.css.map */
