<?php
    $debug = true or false;
    $host = "DB Host IP";
    $user = "DB Username";
    $pass = "DB Password";
    $db = "Database";
    $typeTitle = "Site Title/Type";
    $typeTitleShort = "Short Site Title/Type";
    $isPred = "Table Type";
    $RankScore = "Table Type";
    $ladderPos = "Table Type";
    $GoogleAnalytics = "Google Analytics Abbreviation";
    $Name_RankPeriod = "Current Season and Split";
    $DB_RankPeriod_Current = "Current Rank Period";
    $DB_RankPeriod_01 = "Rank Period _01 for DB";
    $DB_RankPeriod_02 = "Rank Period _02 for DB";
